<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessibilityUsageDescription</key>
	<string>Accessibility permissions are used for window management.</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://tablift.mihai.sh/appcast.xml</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>NUbqo71QhdMNKoubUuZtAkx0uyZ1zUQhkSDXVm0r1dE=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>604800</integer>
</dict>
</plist>
